<link rel="stylesheet" href="/css/user_profile.css">


        <h1>
            Hi Welcome to the user page Here you will See user profile;
        </h1>

        <p>Your User Name is  <%= user_name %>   </p> 
        <p>Your Email address is <%= user_email %> </p>

       


