footer{
    display: flex;
    justify-content: flex-start;
    background-color: grey;
    // position: fixed;

    #rights{
        color: white;
        margin-left: 10px;
    }

    #navigation-items{
        margin-left: 10px;
        
        ul{
            list-style: none;
            li{
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        color: palegoldenrod;
                    }
                }
                
            }
        }
    }
}